*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Noto Sans TC", sans-serif;
}

.login-class{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0.5;
    background-color: #666;
    display: none;
}
.login-form{
    border-radius: 6px;
    width: 340px;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    z-index: 6;
    background-color: #fff;
    justify-content: center;
    margin: 80px auto;
    text-align: center;
    display: none;
}
.registration-form{
    border-radius: 6px;
    width: 340px;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    z-index: 6;
    background-color: #fff;
    justify-content: center;
    margin: 80px auto;
    text-align: center;
    display: none;
}
.close-button{
    z-index: 7;
    position: fixed;
    right: 10px;
    top: 20px;
    cursor: pointer;
    width: 16px;
    height: 16px;
}
.registration-top{
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    height: 10px; 
    width: 100%;
    border-radius: 6px 6px 0 0;
}
.text-input{
    width: 90%;
    font-size: 16px;
    border-radius: 6px;
    border: #E8E8E8 solid 1px;
    padding: 10px;
    outline: none;
    font-weight:500;
    margin: 0px 15px 10px 15px;
    cursor: pointer;
}
.login-button-text{
    border-radius: 6px;
    font-size: 19px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    background-color:  rgba(68, 136, 153, 1);
    width:90%;
    margin: 0px 15px 10px 15px;
    padding: 5px 15px;
    text-align: center;
    cursor: pointer;
}
.message-box {
    border-radius: 6px;
    font-size: 12px;
    color:red;
    background-color: lightpink;
    width:90%;
    margin: 0px 15px 10px 15px;
    padding: 10px 15px;
    text-align: center;
    display: none;
}
.signin-message-box {
    border-radius: 6px;
    font-size: 12px;
    color:red;
    background-color: lightpink;
    width:90%;
    margin: 0px 15px 10px 15px;
    padding: 10px 15px;
    text-align: center;
    display: none;
}
.create-text{
    font-size: 16px;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 10px;
    color: rgba(102, 102, 102, 1);
    cursor: pointer;
}
.header{
    height: 54px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color:rgba(255, 255, 255, 1);
    position: fixed;
    z-index: 5;
}
.nav_bar {
    width: 1200px;
    margin-right: auto;
    margin: auto;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.logo {
    flex:none;
    font-size: 30px;
    line-height: 34px;
    font-weight: 700;
    width:auto;
    text-align: left;
    color: rgba(68, 136, 153, 1);
    padding: 10px;
    cursor: pointer;
}
.menu {
    display: flex;
    width: auto;
    height: 34px;
}
.menu li {
    justify-content: space-between;
    padding: 10px;
}
.menu li a {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 13.3px;
    text-decoration: none;
    color: rgba(102, 102, 102, 1);
    text-align: center;
    cursor: pointer;
}
#check {display: none;}
.item{
    flex:none; 
    width:auto;
    margin-right: 10px;
    text-align: right;
}
.searchBackground{
    height: 320px;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: left top;
}
.searchContent{
    width: 1200px;
    height: 149px;
    text-align: left; 
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}
.searchBarTitle{
    font-weight: 700;
    font-size: 28px;
    line-height: 24px;
    color: rgba(248, 248, 248, 1);
    text-shadow: 0 0 30px 0 rgba(170, 187, 204, 1);
    padding-bottom: 15px;
}
.searchBarText{
    font-weight: 700;
    font-size: 16px;
    line-height: 13.3px;
    color: rgba(248, 248, 248, 1);
    padding-bottom: 30px;
    }
.searchBarContainer {
    display: flex;
    align-items: center;
    max-width: 460px;
}
.searchSpace{
    width: 400px;
    height: 46px;
    background: rgba(255, 255, 255, 1);
    border:none;
    vertical-align: middle;
    margin-right: -2px;
    padding: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 13.3px;
    color: rgba(117, 117, 117, 1);
    box-shadow: 0px 0px 20px 0px rgba(170, 187, 204, 1);
}
.searchButton{
    background: rgba(68, 136, 153, 1);
    width: 60px;
    height: 46px;
    border: none;
    margin-left: -2px;
    vertical-align: middle;
}
.display-flex {
    display: flex;
    justify-content: center;
}
.list-bar{
    max-width: 1200px;
    display: flex;
    padding-bottom: 20px;
    overflow: hidden;
    background: rgba(255, 255, 255, 1);
    position: relative;
}
.arrow-flex-right{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px 15px 9px 0px;
}
.arrow-flex-left{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px 0px 9px 15px
}
.left-arrow{
    width: 32px;
    height: 32px;
    cursor: pointer;
    pointer-events: auto;
    padding-left: 15px;
}
.list-content {
    display: flex;
    max-width: auto;
    height: 50px;
    padding: 13px 10px;
    list-style: none;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}
.list-content::-webkit-scrollbar {
    display: none;
}
.list-content li {
    padding: 5px 15px;
    margin-left:5px ;
    margin-right: 5px;
    user-select: none;
    white-space: nowrap;
    text-decoration: none;
    width: 130px;
    white-space: nowrap;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    cursor: pointer;
    color: #666666;
    line-height: 13.3px;
}
.right-arrow{
    width: 32px;
    height: 32px;
    padding-right: 15px;
    cursor: pointer;
    opacity: 0.6;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
}
.attraction-box {
    width: 100%;
    max-width: 1200px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}
.attraction {
    width: 268px;
    border-radius: 5px;
    border: 1px solid rgba(232, 232, 232, 1);
    margin: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer; 
}

.attraction-img {
    width: 100%;
    height: 197px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
    z-index: 2;
}

.opacity {
    opacity: 0.6;
    background-color: #000000;
    height: 40px;
    width: 100%;
    bottom: 45px;
    display: flex;
    justify-content: left;
    align-items: center;
    position: absolute;
    z-index: 1;
}

.attraction-name {
    color: #ffffff;
    padding-left: 10px;
    position: absolute;
    z-index: 2;
    bottom: 0px;
    width: 100%;
    height: 40px;
    top:157px;
    font-size: 16px;
    line-height: 13.3px;
}
.image-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 45px;
    align-items: center;
}
.mrt-name, .category {
    flex: 1; 
    font-size: 16px;
    font-weight: bold;
    line-height: 13.3px;
    height: 25px;
    color: #757575;
}
.mrt-name {
    padding-left: 10px; 
    text-align: left;
    left: 0;
}
.category {
    padding-right: 10px;
    text-align: right;
    right: 0;
}
.footer{
    height: 104px;
    background-color: rgba(117, 117, 117, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_text{
    text-align: center; 
    font-size: 16px;
    font-weight: 700;
    line-height: 13.3px;
    color:rgba(255, 255, 255, 1);
}
@media (max-width: 1200px){
    .nav_bar {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }
}
@media (max-width: 600px) and (min-width: 360px) {
    .nav_bar {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }
    .searchSpace{
        width: 200px;
        height: 46px;
        background: rgba(255, 255, 255, 1);
        border:none;
        vertical-align: middle;
        margin-right: -2px;
        padding: 15px;
        font-weight: 700;
        font-size: 16px;
        line-height: 13.3px;
        color: rgba(117, 117, 117, 1);
        box-shadow: 0px 0px 20px 0px rgba(170, 187, 204, 1);
    }
    .attraction{
        width: 90%;
        border-radius: 5px;
        border: 1px solid rgba(232, 232, 232, 1);
        margin: 15px;
        position: relative;
        display: flex;
        flex-direction: column;
        cursor: pointer;  
        }
    }


