<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
        <title>台北一日遊</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/attractionLayout.css') }}">
        <script src="{{ url_for('static', filename= 'javaScript/attractions.js')}}"></script>
    </head>
    <body>
        <header class="header">
        <nav>
            <ul class='nav_bar'>
                <li class='logo'>台北一日遊</li>
                <span class="menu">
                    <li><a href="">預定行程</a></li>
                    <li><a href="">登入/註冊</a></li>
                </span>
            </ul>
        </nav>
        </header>
        <div class="searchBackground" style= "background-image: url('{{ url_for('static', filename='images/welcome.png') }}');">
            <div class="searchContent" >
                <div class="searchBarTitle">輕鬆享受台北一日悠閒</div>
                <div class="searchBarText">探索每個角落，體驗城市的深度旅遊行程</div>
                <div class="searchContainer">
                    <input class="searchSpace" type="text" placeholder="輸入景點名稱查詢">
                    <button class="searchButton" ><img src="{{ url_for('static', filename= 'images/icon_search.png')}}"></button>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="container">
                <div class="scrollable-tabs-container">
                    <div class="left-arrow">
                      <img src="{{ url_for('static', filename= 'images/arrowLeftArrowStatesDefault.png')}}">
                    </div>
                        <ul id="mrt-stations">
                            <li><a href="#">All</a></li>
                            <li><a href="#">Music</a></li>
                            <li><a href="#">Chess</a></li>
                            <li><a href="#">Live</a></li>
                            <li><a href="#">Gaming</a></li>
                            <li><a href="#">Editing</a></li>
                            <li><a href="#">Mixing consoles</a></li>
                            <li><a href="#">Comedy</a></li>
                            <li><a href="#">Computer Hardware</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Computer Programming</a></li>
                            <li><a href="#">Video Editing Software</a></li>
                            <li><a href="#">Sports</a></li>
                            <li><a href="#">Live</a></li>
                          </ul>      
                    <div class="right-arrow">
                        <img src="{{ url_for('static', filename= 'images/arrowRightStatesDefault.png')}}">
                    </div>
                </div>
                <div class="attractions">
                    <img src="wehelp.jpeg" alt="" class="img2">
                    <div class="text text-decoration-bottom"> test2</div>
                    <div class="text text-decoration-left"> test2</div>
                    <div class="text text-decoration-right"> test2</div>
                </div>  
                <div class="attractions">
                    <img src="wehelp.jpeg" alt="" class="img2">
                    <div class="text text-decoration-bottom"> test2</div>
                    <div class="text text-decoration-left"> test2</div>
                    <div class="text text-decoration-right"> test2</div>
                </div> 
                <div class="attractions">
                    <img src="wehelp.jpeg" alt="" class="img2">
                    <div class="text text-decoration-bottom"> test2</div>
                    <div class="text text-decoration-left"> test2</div>
                    <div class="text text-decoration-right"> test2</div>
                </div>  
                <div class="attractions">
                    <img src="wehelp.jpeg" alt="" class="img2">
                    <div class="text text-decoration-bottom"> test2</div>
                    <div class="text text-decoration-left"> test2</div>
                    <div class="text text-decoration-right"> test2</div>
                </div>  
                <div class="attractions">
                    <img src="wehelp.jpeg" alt="" class="img2">
                    <div class="text text-decoration-bottom"> test2</div>
                    <div class="text text-decoration-left"> test2</div>
                    <div class="text text-decoration-right"> test2</div>
                </div>  
                <div class="attractions">
                    <img src="wehelp.jpeg" alt="" class="img2">
                    <div class="text text-decoration-bottom"> test2</div>
                    <div class="text text-decoration-left"> test2</div>
                    <div class="text text-decoration-right"> test2</div>
                </div>  
                <div class="attractions">
                    <img src="wehelp.jpeg" alt="" class="img2">
                    <div class="text text-decoration-bottom"> test2</div>
                    <div class="text text-decoration-left"> test2</div>
                    <div class="text text-decoration-right"> test2</div>
                </div>  
                <div class="attractions">
                    <img src="wehelp.jpeg" alt="" class="img2">
                    <div class="text text-decoration-bottom"> test2</div>
                    <div class="text text-decoration-left"> test2</div>
                    <div class="text text-decoration-right"> test2</div>
                </div>
                <div class="attractions">
                    <img src="wehelp.jpeg" alt="" class="img2">
                    <div class="text text-decoration-bottom"> test2</div>
                    <div class="text text-decoration-left"> test2</div>
                    <div class="text text-decoration-right"> test2</div>
                </div>  
                <div class="attractions">
                    <img src="wehelp.jpeg" alt="" class="img2">
                    <div class="text text-decoration-bottom"> test2</div>
                    <div class="text text-decoration-left"> test2</div>
                    <div class="text text-decoration-right"> test2</div>
                </div>  
                <div class="attractions">
                    <img src="wehelp.jpeg" alt="" class="img2">
                    <div class="text text-decoration-bottom"> test2</div>
                    <div class="text text-decoration-left"> test2</div>
                    <div class="text text-decoration-right"> test2</div>
                </div>  
                <div class="attractions">
                    <img src="wehelp.jpeg" alt="" class="img2">
                    <div class="text text-decoration-bottom"> test2</div>
                    <div class="text text-decoration-left"> test2</div>
                    <div class="text text-decoration-right"> test2</div>
                </div>     
            </div>
        </div>
        <footer class="footer">
            <div class="footer_text">COPYRIGHT &copy; 2021 台北一日遊</div>
        </footer>
    </body>
</html>