<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
        <title>台北一日遊</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/booking-layout.css') }}">
        <script src="{{ url_for('static', filename= 'javaScript/booking.js')}}"></script>
        <script src="https://js.tappaysdk.com/sdk/tpdirect/v5.14.0"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="header">
            <nav>
                <ul class='nav_bar'>
                    <li class='logo' onclick="returnIndex()";>台北一日遊</li>
                    <span class="menu">
                        <li id="booking-link"><a onclick="bookingButton()" >預定行程</a></li>
                        <li id="login-link"><a onclick="loginBlock()">登入/註冊</a></li>
                        <li id="logout-link"><a onclick="logoutBlock()">登出系統</a></li>
                    </span>
                </ul>
            </nav>
            <div class="login-class"></div>
            <div class="login-form">
            <form action="/api/user/auth" method="PUT" id="signinForm">
                <img src="/static/images/close.png" class="close-button" onclick="closeLoginForm()">
                <div class="registration-top"></div>
                <div style="display: flex; justify-content: center; font-size: 24px; font-weight: bold; margin: 10px; color: rgba(102, 102, 102, 1);" >
                登入會員帳號</div>
                <input type="text" placeholder="輸入電子信箱" class="text-input" id="signinEmail" name="signinEmail">
                <input type="password" placeholder="輸入密碼" class="text-input" id="signinPassword" name="signinPassword">
                <button class="login-button-text" onclick= submitSigninForm(event)>登入帳號</button>
                <div class="signin-message-box"></div>
                <div class="create-text" onclick="switchToRegist()">還沒有帳戶？點此註冊</div>
            </form>
            </div>
            <div class="registration-form">
            <form action="/api/user" method="POST" id="signupForm" >
                <img src="/static/images/close.png" class="close-button" onclick="closeRegistForm()">
                <div class="registration-top"></div>
                <div style="display: flex; justify-content: center; font-size: 24px; font-weight: bold; margin: 10px; color: rgba(102, 102, 102, 1);" >
                註冊會員帳號</div>
                <input type="text" placeholder="輸入姓名" class="text-input" id="signupName" name="signupName">
                <input type="text" placeholder="輸入電子信箱" class="text-input" id="signupEmail" name="signupEmail">
                <input type="password" placeholder="輸入密碼" class="text-input" id="signupPassword" name="signupPassword">
                <button class="login-button-text" onclick= submitSignupForm(event)>註冊新帳號</button>
                <div class="message-box"></div>
                <div class="create-text" onclick="switchToLogin()">已經有帳戶了？點此登入</div>
            </form>
            </div>
        </header>
        <main class="main-flex">
            <div class="main-info" style="overflow-x: hidden; margin-bottom: 104px;">
                <div style="width: 100%; max-width: 1200px; display:flex; align-items: center; flex-direction: column;">
                    <div class="display-flex" style="max-width: 1000px; margin-bottom: 30px;">
                        <div class="text-title">您好，<span id="usernamePlaceholder"></span>，待預定的行程如下：</div>
                        <div class="test-context" id = "no-reservation">目前沒有任何待預定的行程</div>
                        <div class="section" id = "section">
                            <img class="img" id="img" alt="img">
                            <div class="trip-info">
                                <img class="icon_delete-upper" src="../static/images/delete.png" onclick="deleteBooking()"/>
                                <div class="title0" style="margin-bottom: 20px;">台北一日遊：<span id="attractionTitle"></span></div>
                                <div class="date0" style="margin-top: 20px;">日期：<span class="section-text" id="attractionDate"></span></div>
                                <div class="time0">時間：<span class="section-text" id="attractionTime"></span></div>
                                <div class="price0">價格：<span class="section-text">新台幣</span><span class="section-text" id="attractiondPrice"></span><span class="section-text">元</span></div>
                                <div class="address">地點：<span class="section-text" id="attractiondAddress"></span></div>
                                <img class="icon_delete-lower" src="../static/images/delete.png" onclick="deleteBooking()"/>
                            </div>
                        </div>
                    </div>
                 <hr id= "lineOne" style="width: 1200px; opacity: 0.3; margin: 40px 0;">
                    <div id="contact-info" class="display-flex">
                        <form class="info-form-container">
                            <div class="text-title" style="margin-bottom: 20px;">您的聯絡資訊</div>
                            <div class="text-content" style="margin-bottom: 15px;">聯絡姓名：
                                <input id="contact-name" class="info-form-input" type="text" />
                            </div>
                            <div class="text-content" style="margin-bottom: 15px;">連絡信箱：
                                <input id="contact-email" class="info-form-input" type="email" />
                            </div>
                            <div class="text-content" style="margin-bottom: 15px;">手機號碼：
                                <input id="contact-phone" class="info-form-input" type="tel" maxlength="10" pattern="[0-9]*"  data-pattern-validate/>
                            </div>
                            <div class="remider">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</div>
                        </form>
                    </div>
                    <hr id= "lineTwo" style="width: 1200px; opacity: 0.3; margin: 40px 0;">
                    <div id="payment-info" class="display-flex">
                        <form class="info-form-container">
                            <div class="text-title" style="margin-bottom: 20px;">信用卡付款資訊</div>
                            <div class="text-content" style="margin-bottom: 15px;">
                                <label for="unmber" style="margin-right: 10px;">卡片號碼：</label>
                                <div class="form-control card-number info-form-input"></div>
                            </div>     
                            <div class="text-content" style="margin-bottom: 15px;">
                                <label for="cardExpirationDate" style="margin-right: 10px;">過期時間：</label>
                                <div class="form-control expiration-date info-form-input" id="tappay-expiration-date"></div>
                            </div>  
                            <div class="text-content" style="margin-bottom: 15px;">
                                <label for="cardCcv" style="margin-right: 10px;">驗證密碼：</label>
                                <div class="form-control ccv info-form-input"></div>
                            </div>  
                        </form>
                    </div>
                    <hr id= "lineThree" style="width: 1200px; opacity: 0.3; margin: 40px 0;">
                    <div class="info-display-flex" style="display: flex; justify-content: end; margin-bottom: 40px;">
                        <div id= confirm-and-payment  class="info">
                            <div style="margin-bottom: 22px; font-weight: bold;">總價：新台幣
                                <span id= "total-cost" class="total-cost"></span> 元
                            </div>
                            <div id="booked" onclick="onSubmit(event)" style="margin-bottom: 22px;" class="schedule-button btn btn-default">確認訂購並付款</div>
                        </div>
                    </div>
                </div>             
            </div>
        </main>
        <footer class="footer">
            <div class="footer_text">COPYRIGHT &copy; 2021 台北一日遊</div>
        </footer>
    </body>
</html>