<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
        <title>台北一日遊</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index-layout.css') }}">
        <script src="{{ url_for('static', filename= 'javaScript/index.js')}}"></script>
    </head>
    <body>
        <div class="login-class"></div>
        <div class="login-form">
            <form action="/api/user/auth" method="PUT" id="signinForm">
                <img src="/static/images/close.png" class="close-button" onclick="closeLoginForm()">
                <div class="registration-top"></div>
                <div style="display: flex; justify-content: center; font-size: 24px; font-weight: bold; margin: 10px; color: rgba(102, 102, 102, 1);" >
                    登入會員帳號</div>
                <input type="text" placeholder="輸入電子信箱" class="text-input" id="signinEmail" name="signinEmail">
                <input type="password" placeholder="輸入密碼" class="text-input" id="signinPassword" name="signinPassword">
                <button class="login-button-text" onclick= submitSigninForm(event)>登入帳號</button>
                <div class="signin-message-box"></div>
                <div class="create-text" onclick="switchToRegist()">還沒有帳戶？點此註冊</div>
            </form>
        </div>
        <div class="registration-form">
            <form action="/api/user" method="POST" id="signupForm" >
                <img src="/static/images/close.png" class="close-button" onclick="closeRegistForm()">
                <div class="registration-top"></div>
                <div style="display: flex; justify-content: center; font-size: 24px; font-weight: bold; margin: 10px; color: rgba(102, 102, 102, 1);" >
                    註冊會員帳號</div>
                <input type="text" placeholder="輸入姓名" class="text-input" id="signupName" name="signupName">
                <input type="text" placeholder="輸入電子信箱" class="text-input" id="signupEmail" name="signupEmail">
                <input type="password" placeholder="輸入密碼" class="text-input" id="signupPassword" name="signupPassword">
                <button class="login-button-text" onclick= submitSignupForm(event)>註冊新帳號</button>
                <div class="message-box"></div>
                <div class="create-text" onclick="switchToLogin()">已經有帳戶了？點此登入</div>
            </form>
        </div>
        <header class="header">
        <nav>
            <ul class='nav_bar'>
                <li class='logo' onclick="returnIndex()";>台北一日遊</li>
                <span class="menu">
                    <li id="booking-link"><a onclick="bookingButton()" >預定行程</a></li>
                    <li id="login-link"><a onclick="loginBlock()">登入/註冊</a></li>
                    <li id="logout-link"><a onclick="logoutBlock()">登出系統</a></li>
                </span>
            </ul>
        </nav>
        </header>
            <div class="searchBackground" style= "background-image: url('{{ url_for('static', filename='images/welcome.png') }}');">
                <div class="searchContent" >
                    <div class="searchBarTitle">輕鬆享受台北一日悠閒</div>
                    <div class="searchBarText">探索每個角落，體驗城市的深度旅遊行程</div>
                    <div class="searchContainer">
                        <input class="searchSpace" type="text" placeholder="輸入景點名稱查詢" id="search-input">
                        <button class="searchButton" id="search-button" onclick="searched();"><img src="{{ url_for('static', filename= 'images/icon_search.png')}}"></button>
                    </div>
                </div>
            </div>
        <main style="margin-top: 40px;">    
            <div class="display-flex">
                <div class="list-bar">
                    <div class="arrow-flex-left">
                        <button class="left-arrow" id="scrollLeft" onclick="leftScroll();"><img src="{{ url_for('static', filename= 'images/arrowLeftArrowStatesDefault.png')}}"></button>
                    </div>
                    <ul class="list-content" id='mrt-stations'></ul>
                    <div class="arrow-flex-right">
                        <button class="right-arrow" id="scrollRight" onclick="rightScroll();" ><img src="{{ url_for('static', filename= 'images/arrowRightStatesDefault.png')}}"></button>
                    </div>
                </div>
            </div>        
            <div class="display-flexr">
                <div class="attraction-box" id="attractions-container"></div>
                    <div class="attraction"></div>
            </div>
        </main static="margin-top: 40px;">
        <footer class="footer">
            <div class="footer_text">COPYRIGHT &copy; 2021 台北一日遊</div>
        </footer>
    </body>
</html>